@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  max-width: 2000px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-dir-col {
  flex-direction: column;
}

.header-img {
  position: absolute;
  z-index: -55;
  display: flex;
  overflow: hidden;
  min-width: 1000px;
  width: 100%;
  height: 100vh;
}

.header-img img {
  width: 100%;
}

.logo {
  position: absolute;
  left: 25px;
  top: 25px;
}

.header-img-filter {
  position: absolute;
  z-index: -15;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.45;
}

.fit {
  height: 100%;
  width: 100%;
}

.hero-title {
  z-index: 55;
  padding: 14rem 0px 0px 7rem;
}

.hero-title h1 {
  font-weight: 700;
  font-size: 32px;
  color: white;
}

.hero-title a {
  font-weight: 700;
  font-size: 32px;
  color: #6C92FD;
}

.hero-title p {
  font-weight: 300;
  font-size: 28px;
  color: white;
  opacity: 0.7;
}

.listing-ships-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 75rem;
}

.select-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 0px 0px 7rem;
  width: 49rem;
  height: 7rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.498039);
  z-index: 78;
}

.select-boxes-bar {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 5rem;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.498039);
}

.box-head {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  color: black;
  opacity: 0.48;
  flex: 4;
  background: rgba(196, 196, 196, 0.25);
}

.box-main {
  flex: 7;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-weight: 600;
  position: relative;
}

.location-icon {
  margin: 0px 0.4rem 0px 0.5rem;
}

.calendar-icon {
  position: absolute;
  right: 1rem
}

.result-button {
  color: white;
  width: 14rem;
  height: 4rem;
  border-radius: 8px;
  background-color: #6C92FD;
  cursor: pointer;
  transition: 0.3s;
}

.result-button:hover {
  background-color: #7597f7;
}

.anchor-icon-div {
  width: 100%;
}

.anchor-icon-div img {
  position: absolute;
  bottom: 1rem;
}

.what-is-hangiliman {
  width: 600px;
}

.part2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.what-is-hangiliman h1 {
  font-weight: bold;
  margin: 2rem 0;
}

.what-is-hangiliman a {
  color: #6C92FD;
}

.what-is-hangiliman p {
  color: rgba(0, 0, 0, 0.6);
}

/* .ship-images {} */

/******Part 3*******/

.part3 {
  position: relative;
}

.captain-ship {
  position: absolute;
  z-index: 1;
  width: 25rem;
}

.captain-ship img {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.background-div {
  position: absolute;
  width: 100%;
}

.background-div img {
  width: 100%;
}

.part3-main {
  width: 100%;
  height: 100vh;
}

.popular-ports {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35rem;
  z-index: 2;
}

.popular-ports h1 {
  font-weight: 600;
  color: white
}

.popular-ports a {
  font-weight: 900;
}

.port-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  width: 65rem;
}

.other-ports {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-start;
  width: 20rem;
  height: 25.5rem;
  transition: ease-out 0.2s;
  cursor: pointer;
}

.other-ports:hover {
  transform: scale(1.02);
}

.first-port {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-start;
  width: 20rem;
  cursor: pointer;
  height: 25.5rem;
  transition: ease-out 0.2s;
  margin-bottom: 5rem;
}

.first-port:hover {
  transform: scale(1.02)
}

.port-image {
  width: 20rem;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  border-radius: 8px;
  height: 25.5rem;
}

.port-image img {
  border-radius: 8px;
  width: 100%;
}

.port-image-filter {
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(178.07deg, #FFFFFF 2.08%, #000000 68.44%);
  opacity: 0.48;
}

.port-order {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 56px;
  opacity: 0.53;
}

.post-location {
  color: white;
  font-size: 14px;
  line-height: 0px;
  opacity: 0.85;
}

.post-location img {
  margin-right: 0.1rem;
}

.port-name {
  font-weight: 600;
  color: white;
  z-index: 1;
  font-size: 2rem;
}

.port-description {
  color: white;
  z-index: 1;
  width: 70%;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.more-ports-button {
  display: flex;
  color: black;
  width: 12rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  border-radius: 8px;
  z-index: 55;
  transition: 0.5s;
}

.more-ports-button:hover {
  -webkit-box-shadow: 0px 8px 31px -3px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 8px 31px -3px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 8px 31px -3px rgba(0, 0, 0, 0.23);
}

/******* media queries *******/

@media only screen and (max-width: 800px) {
  .header-img img {
    width: 100%;
    margin-left: -14rem;
  }
}

@media only screen and (max-width: 600px) {
  .header-img img {
    width: 100%;
    margin-left: -25rem;
  }
}

@media only screen and (max-width: 400px) {
  .header-img img {
    width: 100%;
    margin-left: -35rem;
  }
}